.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* border-right: 3rem;
    border-left: 3rem;
    padding: 3rem; */
}

.top-div {
    display: flex;
    flex-direction: row;
    align-items: start;
}

.middle-div {
    display: flex;
    flex-direction: row;
    align-items: start;
}

.lower-div {
    display: flex;
    flex-direction: row;
    align-items: start;
    align-content: stretch;
}

.individual-menu {
    border-right: 3rem;
    border-left: 3rem;
    padding: 3rem;
}